[submodule ".quicklisp/local-projects/weblocks-jquery"]
	path = .quicklisp/local-projects/weblocks-jquery
	url = git://github.com/html/weblocks-jquery.git
[submodule ".quicklisp/local-projects/jquery-seq"]
	path = .quicklisp/local-projects/jquery-seq
	url = git://github.com/html/jquery-seq.git
[submodule ".quicklisp/local-projects/weblocks-utils"]
	path = .quicklisp/local-projects/weblocks-utils
	url = git://github.com/html/weblocks-utils.git
[submodule ".quicklisp/local-projects/weblocks"]
	path = .quicklisp/local-projects/weblocks
	url = git://github.com/html/weblocks.git
[submodule ".quicklisp/local-projects/jquery-bbq"]
	path = .quicklisp/local-projects/jquery-bbq
	url = git://github.com/cowboy/jquery-bbq.git
[submodule ".quicklisp/local-projects/firephp"]
	path = .quicklisp/local-projects/firephp
	url = git://github.com/html/firephp.git
[submodule ".quicklisp/local-projects/weblocks-filtering-widget"]
	path = .quicklisp/local-projects/weblocks-filtering-widget
	url = git://github.com/html/weblocks-filtering-widget.git
[submodule ".quicklisp/local-projects/cl-config"]
	path = .quicklisp/local-projects/cl-config
	url = git://github.com/html/cl-config.git
[submodule ".quicklisp/local-projects/weblocks-twitter-bootstrap-application"]
	path = .quicklisp/local-projects/weblocks-twitter-bootstrap-application
	url = git://github.com/html/weblocks-twitter-bootstrap-application.git
[submodule ".quicklisp/local-projects/weblocks-dataseq-records-count-panel"]
	path = .quicklisp/local-projects/weblocks-dataseq-records-count-panel
	url = git://github.com/html/weblocks-dataseq-records-count-panel.git
[submodule ".quicklisp/local-projects/weblocks-mustache-template-form-view"]
	path = .quicklisp/local-projects/weblocks-mustache-template-form-view
	url = git://github.com/html/weblocks-mustache-template-form-view.git
[submodule ".quicklisp/local-projects/weblocks-strings-translation-app"]
	path = .quicklisp/local-projects/weblocks-strings-translation-app
	url = git://github.com/html/weblocks-strings-translation-app.git
[submodule ".quicklisp/local-projects/prevalence-serialized-i18n"]
	path = .quicklisp/local-projects/prevalence-serialized-i18n
	url = git://github.com/html/prevalence-serialized-i18n.git
