.charleft {
  margin-left: 160px;
}

.text textarea {
  width: 580px;
  height: 100px;
}

span.value {
  display: inline-block;
}

.form h1 {
  display: none;
}


.filtering-data .control-group {
  margin-bottom: 0;
}

.filtering-data input, .filtering-data .value {
  margin-left: 25px;
}

.widget a.logout {
  float: right !important;
}

.library-grid .data-mining-bar {
  position: relative;
}

.library-grid .total-items {
  position: absolute; 
  right:130px;
  bottom: 35px;
}

.filtering-form .compare-value input {
  width: 550px;
}

td.created-at span.value, td.updated-at span.value {
    white-space: nowrap !important;
    font-size: small;
}

.messages .alert p {
    margin-bottom: 0;
}

.dataseq-records-count-panel {
    margin-bottom: 10px;
}

.text-counter {
    margin-left: 160px;
}
